<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>

  <connectionStrings>
    <add name="connect" connectionString="Data Source= DESKTOP-MG7QHAG\sqlexpress  ; Initial Catalog=master; Integrated Security= true"
      providerName="System.Data.SqlClient" />
    <add name="masterConnectionString" connectionString="Data Source=DESKTOP-MG7QHAG\sqlexpress;Initial Catalog=master;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\dumas.mdf;Integrated Security=SSPI;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SistemPengaduan.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
